/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, th,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* end of css reset */
*{
    text-decoration: none;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial;
}

.clear{
    clear: both;
}

#black{
    background-color: black;
    color: white;
}

b{
    font-size: 30px;
}

p{
    font-size: 15px;
}

.container{
    background-color: #F0F0F0F0;
}

.head{
    display: flex;
    height: 40px;
    padding: 5px;
    margin-bottom: 80px;
}

/* nav */
.nav{
    width: 20%;
}

.nav ul{
    padding: 8px;
}

.nav ul li{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    color: black;
}

.nav ul li:hover{
    color: white;
    background-color: black;
}

#black:hover{
    background-color: white;
    color: black;
}

/* end of nav */

.wrapper{
    width: 78%;
    margin: auto;
}

.wrap{
    height: 300px;
    margin-top: 30px;
    padding: 20px;
}

.head img{
    float: left;
    width: 40px;
    height: 40px;
    padding-left: 40px;
}

.head p{
    float: left;
    padding: 7px;
    width: 70%;
    font-weight: 500;
}

.portofolio{
    display: flex;
    width: 85%;
}

.portofolio img{
    height: 30%;
}

.portofolio p{
    padding: 5px 0 30px 20px;
}

.portofolio b{
    font-size: 40px;
}

.history{
    width: 50%;
}

.list{
    width: 40%;
    margin: auto;
}

.list ul{
    padding: 20px;
}

.list ul li{
    display: inline-block;
    margin: 3px;
    padding: 5px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
}

.desc{
    display: flex;
    width: 92%;
}


.descprof{
    margin-right: 40px;
    text-align: center;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
}

.descprof p{
    font-size: 12px;
}

.descprof b{
    font-size: 12px;
}

.form{
    width: 100%;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-flex;
    padding: 5px;
    box-sizing: border-box;
}

.form b{
    font-size: 40px;
    padding: 34px 60px 0 20px;
}

.form p{
    font-size: 13px;
    font-weight: 500;
    color: #aaa;
}

#nama input,#email input{
    border: none;
    padding: 10px;
    border-radius: 5px;
}

textarea {
    height: 80px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    resize: none;
}

#submit{
    background-color: black;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    color: white;
    border: none;
}

#submit:hover{
    background-color: white;
    color: black;
}

.footer{
    height: 100px;
    margin-top: 100px;
}

.footer img{
    margin-left: 12%;
}

.footer ul{
    float: right;
    margin-right: 12%;
}

.footer ul li{
    display: inline;
    padding: 5px;
    color: black;
}

.footer ul li:hover{
    color: white;
    background-color: black;
    border-radius: 5px;
}

.footer p{
    padding-top: 20px;
    text-align: center;
}

.footerimg{
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}